# Pandas

# Panda Series(Array)

In [2]:
# Perhatikan ini
import pandas as pd
import numpy as np

arr = np.arange(2,21,2)
arr

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [6]:
series = pd.Series(arr)
print(series) # Series langsung mengeluarkan indeks dan value
print(type(series))

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int32
<class 'pandas.core.series.Series'>

In [7]:
empty = pd.Series([])
empty

Series([], dtype: object)

In [10]:
a = pd.Series(['a','b','c','d','e'],index = series[0:9:2])
a

2     a
6     b
10    c
14    d
18    e
dtype: object

In [15]:
b = pd.Series(['f','g','h','i','j'], index =  series[1:10:2], name= 'alphabets')
b

4     f
8     g
12    h
16    i
20    j
Name: alphabets, dtype: object

In [17]:
scalar_Series = pd.Series(1.25)
scalar_Series

0    1.25
dtype: float64

In [16]:
scalar_Series = pd.Series(1.25, index = [1,2,3])
scalar_Series

1    1.25
2    1.25
3    1.25
dtype: float64

# Panda Series( Dictionary)

In [18]:
dict_series = pd.Series({'a' : 2020, 'b' : 2021, 'c' : 2022, 'd' : 2023, 'e' : 2024})
dict_series

a    2020
b    2021
c    2022
d    2023
e    2024
dtype: int64

In [21]:
dict_series[0]

C:\Users\nando\AppData\Local\Temp\ipykernel_9632\1198263229.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dict_series[0]

2020

In [22]:
# Lebih disarankan menggunakan
dict_series.iloc[0]

2020

In [23]:
dict_series.iloc[0:3]

a    2020
b    2021
c    2022
dtype: int64

In [25]:
max(dict_series)

2024

In [26]:
new_dict = pd.Series({ 'x' : [1,2,3], 'y' : [4,5,6], 'z' : [7,8,9]})
new_dict

x    [1, 2, 3]
y    [4, 5, 6]
z    [7, 8, 9]
dtype: object

# Data Frame

In [29]:
# Dataframe digunakan untuk menampilkan data
df = pd.DataFrame([1,2,3,4,5])
df

   0
0  1
1  2
2  3
3  4
4  5

In [33]:
list = [np.arange(11,16), np.arange(16,21)] # Array 2 dimensi [2][5] 2 adalah baris 5 adalah kolom
df = pd.DataFrame(list)
df

    0   1   2   3   4
0  11  12  13  14  15
1  16  17  18  19  20

In [46]:
# Membuat Dictionary
siswa = { 'Nama' : ['Nando','Yogi','Andika'],
                    'Umur' : [17,16,18],
                    'Alamat' : ['Sruni','Punggul','Keboan'],
                    'Telpon' : [12345678,987654321,123123123]
                  }

In [47]:
siswa

{'Nama': ['Nando', 'Yogi', 'Andika'],
 'Umur': [17, 16, 18],
 'Alamat': ['Sruni', 'Punggul', 'Keboan'],
 'Telpon': [12345678, 987654321, 123123123]}

In [48]:
df = pd.DataFrame(siswa)
df

# Key dalam dictionary tersebut dijadikan kolom
# Sedangkan indeks masing value dijadikan baris
# perhatikan indeks 0 mengambil Nama0 Umur0 Alamat0 dan Telpon0

     Nama  Umur   Alamat     Telpon
0   Nando    17    Sruni   12345678
1    Yogi    16  Punggul  987654321
2  Andika    18   Keboan  123123123

# Membaca CSV sebagai DataFrame

In [52]:
# Anda harus menyediakan sebuah file csv untuk data frame dan meletakkannya di path tertentu
# perhatikan syntax dibawah ini

df = pd.read_csv(r'C:\TestDirectory\Library\username-password-recovery-code.csv')
df

,Username,Identifier,One-time password,Recovery code,First name,Last name,Department,Location
0,booker12,9012,12se74,rb9012,Rachel,Booker,Sales,Manchester
1,grey07,2070,04ap67,lg2070,Laura,Grey,Depot,London
2,johnson81,4081,30no86,cj4081,Craig,Johnson,Depot,London
3,jenkins46,9346,14ju73,mj9346,Mary,Jenkins,Engineering,Manchester
4,smith79,5079,09ja61,js5079,Jamie,Smith,Engineering,Manchester

In [57]:
df = pd.read_csv(r'C:\LinearRegression\Multivariate-Linear-Regression-master\kc_house_data.csv')
df.columns #Digunakan untuk mengambil header kolom

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [59]:
df.shape #Digunakan untuk mengambil jumlah baris dan kolom berarti ada 21613 baris tidak termasuk header dan 21 kolom

(21613, 21)

In [60]:
df.size #Digunakan untuk melihat banyak sel yang ada , nb size adalah perkalian dari output shape

453873

In [62]:
df.head() #Digunakan untuk menampilkan 5(default) kolom pertama, bisa juga menampilkan sebanyak yang kamu mau dengan cara mengisi angka di kurung

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [63]:
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [65]:
df.tail() # digunakan untuk menampilkan 5(default) data dari paling bawah

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [66]:
df.tail(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [69]:
# Mendeskripsikan data

df.describe() # Menampilkan matematika umum pada data

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [70]:
# Meminta info untuk data
df.info() # Untuk melihat tipe data, kolom yang kosong dll

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [71]:
# melalui data diatas data saya semua lengkap(tidak ada satupun data yang null)

# Menangani Nilai Data Nul

In [4]:
# Sebuah data tidak boleh nul agar bisa dilatih

df = pd.read_csv(r'C:\TestDirectory\Library\student-scores.csv')
df

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          2000 non-null   int64
 1   first_name                  2000 non-null   object
 2   last_name                   2000 non-null   object
 3   email                       2000 non-null   object
 4   gender                      2000 non-null   object
 5   part_time_job               2000 non-null   bool
 6   absence_days                2000 non-null   int64
 7   extracurricular_activities  2000 non-null   bool
 8   weekly_self_study_hours     2000 non-null   int64
 9   career_aspiration           2000 non-null   object
 10  math_score                  2000 non-null   int64
 11  history_score               2000 non-null   int64
 12  physics_score               1999 non-null   float64
 13  chemistry_score             1999 non-null   float64
 14  biology_score               1999 non-null   float64
 15  english_score               2000 non-null   int64
 16  geography_score             1999 non-null   float64
dtypes: bool(2), float64(4), int64(6), object(5)
memory usage: 238.4+ KB

In [77]:
# Terdapat nilai yang kosong

In [79]:
df.isnull() #Tapi cara ini terlalu ribet karena kita harus mengeceki satu" dari banyaknya sb data

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [81]:
df.isnull().sum() #Untuk mengetahui berapa banyak data yang kosong disetiap kolom

id                            0
first_name                    0
last_name                     0
email                         0
gender                        0
part_time_job                 0
absence_days                  0
extracurricular_activities    0
weekly_self_study_hours       0
career_aspiration             0
math_score                    0
history_score                 0
physics_score                 1
chemistry_score               1
biology_score                 1
english_score                 0
geography_score               1
dtype: int64

In [83]:
df.isnull().sum().sum() # Menotalkan semua data yang kosong

4

# Menghapus Baris dengan nilai null

In [5]:
df.shape

(2000, 17)

In [12]:
df2 = df.dropna() #Digunakan untuk menghapus baris yang berisi data null nb: yang dihapus satu baris
#default axis adlah 0

In [13]:
df2.shape #2000 - 4 = 1996

(1996, 17)

# Menghapus Kolom dengan nilai null

In [15]:
df3 = df.dropna(axis =1) #Digunakan untuk menghapus kolom yang berisi data null nb: yang dihapus satu kolom
df3.shape #17-4

(2000, 13)

# Menghapus Baris dengan nilai null

In [17]:
df.dropna(how = 'any')

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
7,8,George,Short,george.short.8@gslingacademy.com,male,True,2,True,34,Software Engineer,95,95,82.0,63.0,84.0,70,85.0
8,9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94.0,85.0,81.0,74,72.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [18]:
df.dropna(how = 'all')

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [21]:
df.dropna(inplace = True) # Di Stak
df.shape

(1996, 17)

# Mengisi Data null dengan value 0

In [3]:
df = pd.read_csv(r'C:\TestDirectory\Library\student-scores.csv')
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0

In [4]:
df.fillna(0) # diisi dengan 0

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,0.0
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,0.0,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [6]:
df.fillna(20) #Mengganti dengan 20

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,20.0
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,20.0,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [8]:
df.fillna({'physics_score': 'kosong' , 'geography_score' : 5}) # Mengubah dengan kolom tertentu

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,5.0
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,kosong,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [12]:
df.ffill() # Berfungsi untuk mengganti kolom null dengan nilai sel diatasnya # Kalau sel yang diatas sendiri tidka bisa

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,93.0,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [14]:
df.ffill(axis = 1) #Axis1 = sumbu x, Axis2 adalah sumbu y # contoh diabwah ini mengisi null dengan nilai di sebelah kirinya

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,80
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,86,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [15]:
df['physics_score'].fillna(value=df['physics_score'].mean())

0       93.000000
1       81.329165
2       95.000000
3       88.000000
4       65.000000
          ...
1995    84.000000
1996    73.000000
1997    63.000000
1998    72.000000
1999    91.000000
Name: physics_score, Length: 2000, dtype: float64

In [16]:
df.bfill() #Back fill digunakan untuk mengisi sel yang null dengan value sel setelahnya

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,90.0
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,95.0,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [17]:
df.bfill(inplace = True)

In [18]:
df

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,90.0
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,95.0,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

# Replace

In [4]:
import pandas as pd

df = pd.read_csv(r'C:\TestDirectory\Library\student-scores.csv')
df.head()

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0

In [5]:
df.replace(to_replace=100 ,value=97 ) # Mengganti semua nilai 100 ke 97

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,97.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,97.0

In [7]:
 df.replace(88,92) #Mengganti semua nilai 88 ke 92, ini merupakan cara yang simple tanpa menulis perintahnya lagi

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,92,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,92.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,92,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [10]:
# Mengganti angka dengan array
import numpy as np
df.replace(to_replace = np.arange(80,100), value = 100) # Mengganti data yang lebih dari 80 menjadi 100

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,100,100.0,100.0,63.0,100,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,100,100,NaN,100.0,100.0,100,100.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,100,100,100.0,100.0,65.0,77,100.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,100.0,100.0,100.0,63,100.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,100,77,65.0,65.0,100.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,100,77,100.0,73.0,75.0,100,100.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,100,65,73.0,100.0,100.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,100,100,63.0,100.0,68.0,100,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,100,72.0,100.0,100.0,100,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,100,100,100.0,69.0,100.0,100,100.0

In [11]:
df.replace([80,90,100],99)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,99,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,99,86,NaN,99.0,99.0,88,99.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,99.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,99.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,99.0,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,99.0

In [31]:
df['chemistry_score'].replace(to_replace = [80,90,100], value= ['C','B','A'], inplace= True) #80->C 90->B 1001->A hanya di kolom nilai kimia
#Fungsi dari inplace adalah data yang asli ditumpuk dengan data yang baru

In [32]:
df.head(20)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,A,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,C,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
5,6,Kelly,Wade,kelly.wade.6@gslingacademy.com,female,False,2,False,26,Unknown,93,100,67.0,78.0,NaN,80,84.0
6,7,Anthony,Smith,anthony.smith.7@gslingacademy.com,male,False,3,True,23,Software Engineer,99,96,97.0,NaN,88.0,76,64.0
7,8,George,Short,george.short.8@gslingacademy.com,male,True,2,True,34,Software Engineer,95,95,82.0,63.0,84.0,70,85.0
8,9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94.0,85.0,81.0,74,72.0
9,10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88.0,71.0,67.0,71,73.0
10,11,Gabrielle,White,gabrielle.white.11@gslingacademy.com,female,False,2,False,7,Teacher,65,60,97.0,94.0,71.0,81,66.0
11,12,Clinton,Randolph,clinton.randolph.12@gslingacademy.com,male,False,1,False,7,Unknown,80,61,100.0,65.0,87.0,64,61.0
12,13,Patricia,Gomez,patricia.gomez.13@gslingacademy.com,female,True,7,False,4,Business Owner,94,59,69.0,67.0,89.0,65,73.0
13,14,Pamela,Jackson,pamela.jackson.14@gslingacademy.com,female,False,10,False,2,Business Owner,66,94,86.0,A,57.0,90,63.0
14,15,Laura,Jackson,laura.jackson.15@gslingacademy.com,female,False,3,False,39,Doctor,96,90,86.0,92.0,92.0,95,87.0
15,16,Roger,Wiley,roger.wiley.16@gslingacademy.com,male,False,6,False,0,Business Owner,94,50,78.0,64.0,79.0,74,84.0
16,17,Vicki,Thompson,vicki.thompson.17@gslingacademy.com,female,False,3,True,30,Scientist,92,64,93.0,91.0,80.0,89,72.0
17,18,Maxwell,Davidson,maxwell.davidson.18@gslingacademy.com,male,False,2,True,28,Software Engineer,86,83,85.0,79.0,93.0,76,77.0
18,19,Jonathan,Werner,jonathan.werner.19@gslingacademy.com,male,False,1,False,37,Doctor,92,87,92.0,99.0,97.0,87,86.0
19,20,Angela,Rios,angela.rios.20@gslingacademy.com,female,False,2,False,27,Software Engineer,99,65,98.0,75.0,66.0,72,100.0

In [34]:
df.replace('[A-Za-a]', 0, regex = True) # Regex = regular expression

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,0,0,0,0,False,3,False,27,0,73,81,93.0,97.0,63.0,80,NaN
1,2,0,0,0,0,False,2,False,47,0,90,86,NaN,0.0,90.0,88,90.0
2,3,0,0,0,0,False,9,True,13,0,81,97,95.0,96.0,65.0,77,94.0
3,4,0,0,0,0,False,5,False,3,0,71,74,88.0,0.0,89.0,63,86.0
4,5,0,0,0,0,False,5,False,10,0,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,0,0,0,0,False,2,False,30,0,83,77,84.0,73.0,75.0,84,82.0
1996,1997,0,0,0,0,False,2,False,20,0,89,65,73.0,0.0,87.0,67,73.0
1997,1998,0,0,0,0,False,5,False,14,0,97,85,63.0,93.0,68.0,94,78.0
1998,1999,0,0,0,0,True,10,True,5,0,51,96,72.0,89.0,95.0,88,75.0
1999,2000,0,0,0,0,False,5,False,27,0,82,99,91.0,69.0,83.0,93,100.0

In [35]:
df.replace(to_replace = 90, method = 'ffill') #Bisa juga pakai bfill

C:\Users\nando\AppData\Local\Temp\ipykernel_18512\417319243.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace(to_replace = 90, method = 'ffill') #Bisa juga pakai bfill

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,73,86,NaN,A,63.0,88,NaN
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,C,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1996,1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,C,87.0,67,73.0
1997,1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1998,1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
1999,2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

# Loc

In [38]:
df = pd.read_csv(r'C:\TestDirectory\Library\student-scores.csv', 
                index_col = ['id']) # Index colom menggunakan kolom id dan sekarang indeks tidak dimulai dari 0 lagi tapi dari 1

In [37]:
df.head(10)

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
6,Kelly,Wade,kelly.wade.6@gslingacademy.com,female,False,2,False,26,Unknown,93,100,67.0,78.0,NaN,80,84.0
7,Anthony,Smith,anthony.smith.7@gslingacademy.com,male,False,3,True,23,Software Engineer,99,96,97.0,NaN,88.0,76,64.0
8,George,Short,george.short.8@gslingacademy.com,male,True,2,True,34,Software Engineer,95,95,82.0,63.0,84.0,70,85.0
9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94.0,85.0,81.0,74,72.0
10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88.0,71.0,67.0,71,73.0

In [39]:
df.loc[1] # Memanggil baris 1

first_name                                              Paul
last_name                                              Casey
email                         paul.casey.1@gslingacademy.com
gender                                                  male
part_time_job                                          False
absence_days                                               3
extracurricular_activities                             False
weekly_self_study_hours                                   27
career_aspiration                                     Lawyer
math_score                                                73
history_score                                             81
physics_score                                           93.0
chemistry_score                                         97.0
biology_score                                           63.0
english_score                                             80
geography_score                                          NaN
Name: 1, dtype: object

In [40]:
df.loc[[5,9,10,23]] #Memanggil banyak baris

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94.0,85.0,81.0,74,72.0
10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88.0,71.0,67.0,71,73.0
23,Shannon,Simpson,shannon.simpson.23@gslingacademy.com,female,False,9,False,2,Business Owner,89,72,68.0,72.0,71.0,54,90.0

In [46]:
df.loc[np.arange(200,2001,200)] # Bisa Juga gini

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
200,Kathryn,Frazier,kathryn.frazier.200@gslingacademy.com,female,False,3,False,34,Lawyer,94,88,65.0,88.0,60.0,81,78.0
400,Darrell,Williams,darrell.williams.400@gslingacademy.com,male,False,4,False,32,Software Engineer,85,87,91.0,63.0,95.0,88,62.0
600,Lindsay,Morales,lindsay.morales.600@gslingacademy.com,female,False,1,False,23,Doctor,96,91,97.0,84.0,89.0,82,75.0
800,Matthew,Miles,matthew.miles.800@gslingacademy.com,male,False,5,False,4,Business Owner,94,68,72.0,99.0,83.0,53,83.0
1000,Dennis,Summers,dennis.summers.1000@gslingacademy.com,male,False,1,True,5,Real Estate Developer,65,83,67.0,84.0,89.0,65,73.0
1200,Lauren,Gomez,lauren.gomez.1200@gslingacademy.com,female,False,3,False,35,Doctor,99,89,93.0,87.0,86.0,90,96.0
1400,Nathan,Calhoun,nathan.calhoun.1400@gslingacademy.com,male,False,1,False,29,Construction Engineer,86,100,86.0,96.0,73.0,60,77.0
1600,Katherine,Turner,katherine.turner.1600@gslingacademy.com,female,False,7,False,20,Designer,82,67,88.0,62.0,73.0,64,79.0
1800,Alyssa,Costa,alyssa.costa.1800@gslingacademy.com,female,True,5,False,25,Software Engineer,85,87,68.0,74.0,74.0,85,68.0
2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [49]:
df.loc[5, 'geography_score'] #Memanggil baris 5 kolom geography_score

76.0

In [51]:
df.loc[5:15, 'math_score'] # Memanggil baris 5-15 kolom math_score

id
5     84
6     93
7     99
8     95
9     94
10    98
11    65
12    80
13    94
14    66
15    96
Name: math_score, dtype: int64

In [56]:
df.loc[df['math_score']<50] # Menampilkan semua baris di kolom math_score yang nilainya  kurang dari 70

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
113,Charles,Hayes,charles.hayes.113@gslingacademy.com,male,True,2,True,4,Business Owner,45,85,94.0,76.0,57.0,93,86.0
115,Robert,Turner,robert.turner.115@gslingacademy.com,male,False,6,True,0,Business Owner,43,65,91.0,75.0,64.0,94,100.0
152,Stephen,Rodriguez,stephen.rodriguez.152@gslingacademy.com,male,True,10,False,2,Business Owner,41,57,97.0,56.0,50.0,98,83.0
159,Dennis,Phillips,dennis.phillips.159@gslingacademy.com,male,True,7,True,3,Business Owner,49,64,97.0,61.0,62.0,72,65.0
184,Logan,Cox,logan.cox.184@gslingacademy.com,male,False,8,True,5,Business Owner,46,79,75.0,86.0,91.0,88,77.0
272,Melissa,Huerta,melissa.huerta.272@gslingacademy.com,female,False,7,False,4,Business Owner,44,64,58.0,66.0,87.0,62,68.0
340,James,Young,james.young.340@gslingacademy.com,male,False,9,False,4,Business Owner,45,98,95.0,66.0,84.0,83,100.0
397,Samantha,Clark,samantha.clark.397@gslingacademy.com,female,False,7,False,2,Business Owner,46,65,97.0,100.0,56.0,73,95.0
415,Joel,Morris,joel.morris.415@gslingacademy.com,male,True,6,False,4,Business Owner,44,76,56.0,71.0,66.0,54,91.0
433,Patrick,Ryan,patrick.ryan.433@gslingacademy.com,male,False,9,False,4,Business Owner,48,55,86.0,51.0,54.0,94,61.0
594,Eric,Patton,eric.patton.594@gslingacademy.com,male,True,10,False,5,Business Owner,42,95,99.0,61.0,62.0,77,99.0
597,Victoria,Thompson,victoria.thompson.597@gslingacademy.com,female,True,9,True,4,Business Owner,43,63,91.0,67.0,74.0,71,88.0
668,John,George,john.george.668@gslingacademy.com,male,False,9,False,0,Business Owner,43,95,64.0,95.0,66.0,67,74.0
669,Katherine,Moore,katherine.moore.669@gslingacademy.com,female,True,6,False,0,Business Owner,40,100,88.0,79.0,71.0,86,89.0
673,Michelle,Martinez,michelle.martinez.673@gslingacademy.com,female,True,10,True,4,Business Owner,40,86,53.0,63.0,50.0,87,77.0
747,Sarah,King,sarah.king.747@gslingacademy.com,female,True,7,False,1,Business Owner,45,68,99.0,91.0,88.0,63,61.0
757,Annette,Wells,annette.wells.757@gslingacademy.com,female,True,8,False,3,Business Owner,41,76,94.0,93.0,79.0,84,96.0
768,Troy,Prince,troy.prince.768@gslingacademy.com,male,False,6,False,3,Business Owner,48,72,64.0,65.0,64.0,55,79.0
769,Martha,Summers,martha.summers.769@gslingacademy.com,female,True,7,False,3,Business Owner,49,59,99.0,59.0,75.0,54,70.0
771,Cheryl,Gutierrez,cheryl.gutierrez.771@gslingacademy.com,female,True,5,True,1,Business Owner,40,51,93.0,100.0,76.0,60,99.0
820,Steven,Alvarez,steven.alvarez.820@gslingacademy.com,male,True,2,True,2,Business Owner,46,71,60.0,50.0,85.0,69,62.0
828,Kevin,Mack,kevin.mack.828@gslingacademy.com,male,True,9,False,2,Business Owner,46,54,93.0,57.0,99.0,59,73.0
856,Kevin,York,kevin.york.856@gslingacademy.com,male,True,7,False,1,Business Owner,47,78,75.0,62.0,61.0,55,93.0
902,Cynthia,Richardson,cynthia.richardson.902@gslingacademy.com,female,True,4,True,3,Business Owner,40,58,57.0,68.0,57.0,99,95.0
915,Heidi,Adams,heidi.adams.915@gslingacademy.com,female,True,10,False,3,Business Owner,43,83,58.0,89.0,87.0,78,86.0
928,Charles,Owens,charles.owens.928@gslingacademy.com,male,False,8,False,4,Business Owner,40,94,90.0,68.0,61.0,77,92.0
929,Teresa,Henry,teresa.henry.929@gslingacademy.com,female,False,6,False,4,Business Owner,43,90,78.0,63.0,68.0,63,72.0
941,Maria,Malone,maria.malone.941@gslingacademy.com,female,True,10,False,4,Business Owner,40,97,71.0,70.0,73.0,81,85.0
1203,Charles,Rangel,charles.rangel.1203@gslingacademy.com,male,True,4,False,1,Business Owner,49,85,70.0,90.0,79.0,71,67.0
1275,Shawn,Cameron,shawn.cameron.1275@gslingacademy.com,male,True,10,False,3,Business Owner,41,99,84.0,63.0,92.0,72,81.0
1322,Julie,Little,julie.little.1322@gslingacademy.com,female,False,7,False,5,Business Owner,42,79,79.0,59.0,61.0,87,65.0
1323,Maureen,Norman,maureen.norman.1323@gslingacademy.com,female,False,10,True,2,Business Owner,46,52,87.0,80.0,76.0,73,76.0
1329,Jennifer,Johnson,jennifer.johnson.1329@gslingacademy.com,female,False,7,True,5,Business Owner,40,51,67.0,63.0,98.0,54,79.0
1330,Anthony,Shah,anthony.shah.1330@gslingacademy.com,male,True,10,False,3,Business Owner,42,92,60.0,54.0,68.0,69,76.0
1369,Jasmin,Phillips,jasmin.phillips.1369@gslingacademy.com,female,True,5,False,3,Business Owner,46,63,60.0,61.0,66.0,91,97.0
1391,Bradley,Patel,bradley.patel.1391@gslingacademy.com,male,True,9,True,3,Business Owner,40,73,88.0,95.0,64.0,61,92.0
1480,Jessica,Nolan,jessica.nolan.1480@gslingacademy.com,female,False,10,False,3,Business Owner,40,81,54.0,70.0,53.0,98,61.0
1485,Philip,Blair,philip.blair.1485@gslingacademy.com,male,False,9,False,0,Business Owner,43,87,81.0,61.0,65.0,53,84.0
1486,David,Jimenez,david.jimenez.1486@gslingacademy.com,male,False,8,True,5,Business Owner,40,97,92.0,93.0,92.0,65,82.0
1502,Lisa,Franco,lisa.franco.1502@gslingacademy.com,female,True,10,False,4,Business Owner,47,75,53.0,60.0,90.0,59,86.0
1568,Crystal,Holland,crystal.holland.1568@gslingacademy.com,female,True,4,False,0,Business Owner,49,51,57.0,80.0,89.0,53,76.0
1575,Aaron,Ortega,aaron.ortega.1575@gslingacademy.com,male,False,4,True,0,Business Owner,44,98,53.0,68.0,94.0,91,84.0
1662,Thomas,Scott,thomas.scott.1662@gslingacademy.com,male,True,6,False,5,Business Owner,41,53,64.0,62.0,79.0,50,65.0
1663,Elizabeth,Jones,elizabeth.jones.1663@gslingacademy.com,female,False,5,False,2,Business Owner,44,79,83.0,50.0,52.0,79,96.0
1704,Joel,Williams,joel.williams.1704@gslingacademy.com,male,False,8,False,3,Business Owner,48,80,73.0,67.0,84.0,99,83.0
1712,Brenda,Morales,brenda.morales.1712@gslingacademy.com,female,False,10,True,1,Business Owner,41,53,98.0,67.0,61.0,83,97.0
1872,Denise,Rose,denise.rose.1872@gslingacademy.com,female,True,6,False,1,Business Owner,41,83,54.0,87.0,97.0,65,69.0
1888,Catherine,Coffey,catherine.coffey.1888@gslingacademy.com,female,False,10,False,2,Business Owner,41,59,69.0,70.0,100.0,65,72.0
1892,Patricia,Douglas,patricia.douglas.1892@gslingacademy.com,female,True,6,False,5,Business Owner,46,53,92.0,71.0,90.0,76,81.0
1915,Gregory,Cole,gregory.cole.1915@gslingacademy.com,male,False,2,False,4,Business Owner,46,77,90.0,78.0,66.0,76,86.0

In [62]:
df.loc[df['physics_score']==100, ['physics_score']] # Menampilkan data  yang nilai fisika nya 100, kemudian hanya tampilkan kolom physics_score

      physics_score
id
12            100.0
102           100.0
105           100.0
164           100.0
201           100.0
269           100.0
308           100.0
388           100.0
420           100.0
426           100.0
439           100.0
478           100.0
516           100.0
523           100.0
596           100.0
664           100.0
682           100.0
687           100.0
736           100.0
761           100.0
780           100.0
799           100.0
810           100.0
824           100.0
870           100.0
945           100.0
968           100.0
977           100.0
1037          100.0
1045          100.0
1096          100.0
1116          100.0
1167          100.0
1217          100.0
1235          100.0
1266          100.0
1324          100.0
1353          100.0
1409          100.0
1429          100.0
1437          100.0
1445          100.0
1501          100.0
1541          100.0
1544          100.0
1565          100.0
1589          100.0
1606          100.0
1653          100.0
1658          100.0
1687          100.0
1697          100.0
1715          100.0
1785          100.0
1811          100.0
1865          100.0
1911          100.0
1912          100.0
1925          100.0
1960          100.0

# ILOC

Perbedaanya adalah untuk 
LOC jika kita sudah menset index_colum dan dimulai dari satu maka indeks loc dimulai dari 1 bukan 0 contoh df.loc[1] menampilkan baris pertama
ILOC (index location) dimulai dari 0 sehingga df.iloc[0] mengambil baris pertama

In [65]:
df.iloc[0]
#Perbedaan satu kurung kotak seperti diatas dengan kurung dobel adalah
#jika kita menggunakan kurung kotak tunggal seperti di atas maka yang muncul akan seperti dibawah ini

first_name                                              Paul
last_name                                              Casey
email                         paul.casey.1@gslingacademy.com
gender                                                  male
part_time_job                                          False
absence_days                                               3
extracurricular_activities                             False
weekly_self_study_hours                                   27
career_aspiration                                     Lawyer
math_score                                                73
history_score                                             81
physics_score                                           93.0
chemistry_score                                         97.0
biology_score                                           63.0
english_score                                             80
geography_score                                          NaN
Name: 1, dtype: object

In [68]:
# Sedangkan jika kita menggunakan kurung kotak ganda maka yang muncul akan seperti ini 
df.iloc[[0]]

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN

In [76]:
df.iloc[np.arange(499,2000,500)]

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
500,Katelyn,Moses,katelyn.moses.500@gslingacademy.com,female,False,3,False,24,Accountant,79,96,78.0,90.0,94.0,76,88.0
1000,Dennis,Summers,dennis.summers.1000@gslingacademy.com,male,False,1,True,5,Real Estate Developer,65,83,67.0,84.0,89.0,65,73.0
1500,Stacey,Williams,stacey.williams.1500@gslingacademy.com,female,True,0,False,27,Software Engineer,94,97,73.0,79.0,84.0,66,64.0
2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [81]:
df.iloc[:,0] # Yang dicetak hanya kolom indeks dan kolom pertama (first_name)

id
1           Paul
2       Danielle
3           Tina
4           Tara
5        Anthony
          ...
1996        Alan
1997      Thomas
1998     Madison
1999    Brittany
2000     Natalie
Name: first_name, Length: 2000, dtype: object

In [82]:
df.iloc[:,9]

id
1       73
2       90
3       81
4       71
5       84
        ..
1996    83
1997    89
1998    97
1999    51
2000    82
Name: math_score, Length: 2000, dtype: int64

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 1 to 2000
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   first_name                  2000 non-null   object
 1   last_name                   2000 non-null   object
 2   email                       2000 non-null   object
 3   gender                      2000 non-null   object
 4   part_time_job               2000 non-null   bool
 5   absence_days                2000 non-null   int64
 6   extracurricular_activities  2000 non-null   bool
 7   weekly_self_study_hours     2000 non-null   int64
 8   career_aspiration           2000 non-null   object
 9   math_score                  2000 non-null   int64
 10  history_score               2000 non-null   int64
 11  physics_score               1999 non-null   float64
 12  chemistry_score             1999 non-null   float64
 13  biology_score               1999 non-null   float64
 14  english_score               2000 non-null   int64
 15  geography_score             1999 non-null   float64
dtypes: bool(2), float64(4), int64(5), object(5)
memory usage: 302.8+ KB

In [97]:
df.iloc[0:11,  9:16] # Baris mulai , baris akhir,  Kolom mulai , kolom akhir

,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,
1,73,81,93.0,97.0,63.0,80,NaN
2,90,86,NaN,100.0,90.0,88,90.0
3,81,97,95.0,96.0,65.0,77,94.0
4,71,74,88.0,80.0,89.0,63,86.0
5,84,77,65.0,65.0,80.0,74,76.0
6,93,100,67.0,78.0,NaN,80,84.0
7,99,96,97.0,NaN,88.0,76,64.0
8,95,95,82.0,63.0,84.0,70,85.0
9,94,68,94.0,85.0,81.0,74,72.0
10,98,69,88.0,71.0,67.0,71,73.0
11,65,60,97.0,94.0,71.0,81,66.0

# Groupby

In [98]:
df

,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
id,,,,,,,,,,,,,,,,
1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1996,Alan,Reynolds,alan.reynolds.1996@gslingacademy.com,male,False,2,False,30,Construction Engineer,83,77,84.0,73.0,75.0,84,82.0
1997,Thomas,Gilbert,thomas.gilbert.1997@gslingacademy.com,male,False,2,False,20,Software Engineer,89,65,73.0,80.0,87.0,67,73.0
1998,Madison,Cross,madison.cross.1998@gslingacademy.com,female,False,5,False,14,Software Engineer,97,85,63.0,93.0,68.0,94,78.0
1999,Brittany,Compton,brittany.compton.1999@gslingacademy.com,female,True,10,True,5,Business Owner,51,96,72.0,89.0,95.0,88,75.0
2000,Natalie,Smith,natalie.smith.2000@gslingacademy.com,female,False,5,False,27,Accountant,82,99,91.0,69.0,83.0,93,100.0

In [102]:
career_group = df.groupby(by = 'career_aspiration')
career_group

In [104]:
career_group.groups

{'Accountant': [29, 30, 33, 40, 50, 91, 107, 110, 128, 173, 177, 201, 203, 204, 208, 245, 246, 254, 257, 293, 297, 303, 365, 407, 414, 417, 423, 445, 452, 485, 498, 500, 543, 561, 599, 608, 628, 643, 652, 665, 667, 681, 683, 687, 706, 711, 763, 774, 787, 803, 817, 853, 855, 875, 880, 939, 942, 956, 961, 966, 997, 1019, 1025, 1032, 1036, 1053, 1069, 1089, 1096, 1097, 1102, 1111, 1130, 1139, 1141, 1160, 1187, 1199, 1223, 1232, 1233, 1242, 1245, 1254, 1260, 1273, 1287, 1298, 1303, 1307, 1313, 1315, 1317, 1332, 1343, 1355, 1363, 1418, 1448, 1459, ...], 'Artist': [4, 97, 101, 104, 142, 186, 205, 216, 251, 262, 284, 428, 441, 459, 483, 492, 559, 566, 576, 596, 603, 625, 627, 632, 633, 638, 689, 708, 743, 753, 755, 823, 838, 884, 935, 944, 962, 975, 1023, 1040, 1156, 1165, 1168, 1256, 1283, 1284, 1293, 1344, 1347, 1375, 1386, 1402, 1451, 1473, 1523, 1526, 1610, 1643, 1694, 1708, 1726, 1756, 1845, 1890, 1927, 1938, 1958], 'Banker': [27, 34, 39, 54, 58, 64, 70, 114, 132, 137, 138, 178, 209, 215, 217, 218, 220, 243, 244, 267, 269, 280, 294, 302, 306, 347, 364, 402, 405, 416, 427, 458, 471, 493, 503, 523, 525, 573, 582, 587, 631, 650, 651, 656, 659, 660, 661, 698, 700, 707, 710, 723, 724, 756, 758, 777, 786, 797, 798, 812, 813, 821, 852, 894, 911, 912, 940, 943, 954, 960, 972, 990, 1013, 1027, 1031, 1046, 1047, 1052, 1054, 1062, 1068, 1088, 1094, 1108, 1109, 1110, 1120, 1124, 1131, 1145, 1155, 1175, 1194, 1211, 1226, 1251, 1279, 1280, 1281, 1285, ...], 'Business Owner': [13, 14, 16, 22, 23, 24, 42, 43, 45, 46, 53, 63, 66, 73, 74, 81, 105, 112, 113, 115, 117, 120, 134, 147, 150, 152, 158, 159, 167, 175, 184, 188, 213, 225, 226, 227, 236, 242, 258, 259, 265, 271, 272, 274, 277, 289, 305, 311, 319, 335, 340, 346, 356, 369, 372, 373, 374, 385, 389, 394, 395, 397, 415, 418, 433, 438, 446, 447, 465, 475, 481, 486, 488, 489, 490, 502, 522, 524, 526, 528, 533, 535, 541, 544, 547, 551, 558, 563, 565, 569, 572, 575, 580, 594, 597, 609, 614, 617, 621, 637, ...], 'Construction Engineer': [37, 38, 65, 162, 163, 180, 212, 238, 260, 333, 344, 355, 360, 403, 440, 467, 509, 515, 542, 568, 663, 674, 691, 696, 697, 699, 764, 825, 842, 971, 982, 1007, 1024, 1112, 1125, 1128, 1169, 1176, 1184, 1197, 1198, 1205, 1266, 1297, 1302, 1318, 1319, 1327, 1373, 1396, 1400, 1437, 1452, 1474, 1509, 1543, 1572, 1621, 1661, 1701, 1718, 1780, 1801, 1817, 1867, 1919, 1925, 1996], 'Designer': [32, 71, 135, 136, 224, 234, 252, 279, 295, 332, 348, 367, 422, 448, 455, 460, 548, 680, 725, 736, 752, 759, 824, 830, 831, 901, 937, 1016, 1134, 1157, 1192, 1236, 1238, 1241, 1374, 1380, 1420, 1433, 1440, 1460, 1499, 1552, 1562, 1596, 1600, 1601, 1700, 1710, 1725, 1784, 1795, 1834, 1849, 1894, 1976, 1988], 'Doctor': [2, 15, 19, 26, 122, 123, 124, 140, 164, 211, 214, 268, 286, 308, 322, 387, 391, 413, 426, 439, 453, 464, 468, 474, 494, 513, 516, 529, 545, 549, 578, 588, 589, 590, 600, 619, 620, 655, 657, 688, 712, 735, 761, 785, 790, 791, 826, 879, 922, 951, 968, 994, 1043, 1050, 1061, 1114, 1121, 1123, 1147, 1172, 1180, 1190, 1200, 1213, 1225, 1237, 1247, 1262, 1271, 1346, 1362, 1365, 1397, 1409, 1411, 1423, 1457, 1467, 1482, 1493, 1531, 1574, 1583, 1585, 1617, 1620, 1624, 1631, 1639, 1652, 1668, 1673, 1681, 1702, 1713, 1716, 1720, 1742, 1783, 1792, ...], 'Game Developer': [44, 55, 61, 100, 127, 145, 166, 191, 193, 253, 292, 298, 318, 342, 352, 354, 507, 536, 550, 571, 636, 739, 775, 834, 851, 959, 963, 989, 995, 1012, 1022, 1098, 1132, 1146, 1167, 1170, 1196, 1274, 1277, 1290, 1305, 1310, 1324, 1398, 1425, 1521, 1539, 1561, 1584, 1598, 1611, 1612, 1658, 1711, 1774, 1786, 1802, 1891, 1904, 1952, 1955, 1959, 1961], 'Government Officer': [3, 83, 87, 92, 233, 247, 296, 304, 328, 336, 337, 341, 359, 399, 506, 553, 570, 574, 577, 715, 760, 796, 799, 819, 833, 840, 877, 896, 1033, 1037, 1048, 1161, 1174, 1204, 1218, 1267, 1276, 1291, 1321, 1453, 1461, 1538, 1559, 1655, 1674, 1679, 1684, 1753, 1760, 1775, 1819, 1831, 1838, 1847, 1855, 1856, 1862, 1935, 1937, 1965, 1986], 'Lawyer': [1, 47, 52, 62, 99, 143, 148, 171, 174, 182, 200, 237, 250, 264, 275, 278, 283, 287, 326, 329, 338, 343, 358, 379, 396, 429, 450, 463, 476, 496, 511, 514, 538, 546, 557, 585, 595, 601, 606, 607, 610, 626, 644, 653, 664, 666, 672, 678, 685, 728, 729, 730, 778, 795, 807, 829, 841, 865, 867, 885, 916, 920, 950, 952, 1011, 1042, 1044, 1049, 1056, 1057, 1084, 1085, 1090, 1093, 1103, 1135, 1159, 1201, 1221, 1224, 1231, 1269, 1300, 1308, 1325, 1337, 1340, 1366, 1401, 1405, 1428, 1441, 1454, 1456, 1463, 1490, 1496, 1512, 1537, 1591, ...], 'Real Estate Developer': [68, 98, 106, 146, 154, 187, 221, 229, 309, 434, 437, 457, 461, 472, 473, 478, 482, 518, 583, 598, 612, 630, 670, 726, 784, 792, 815, 848, 859, 863, 881, 882, 897, 899, 906, 924, 947, 948, 983, 1000, 1002, 1009, 1076, 1115, 1122, 1140, 1166, 1183, 1189, 1191, 1202, 1209, 1210, 1227, 1282, 1294, 1353, 1407, 1436, 1444, 1446, 1472, 1501, 1510, 1565, 1603, 1619, 1627, 1654, 1672, 1689, 1696, 1754, 1762, 1807, 1832, 1858, 1869, 1876, 1902, 1906, 1954, 1970], 'Scientist': [17, 84, 108, 190, 195, 282, 312, 313, 388, 430, 531, 581, 742, 767, 810, 862, 917, 978, 984, 1006, 1041, 1064, 1075, 1091, 1101, 1106, 1382, 1524, 1588, 1589, 1721, 1734, 1755, 1772, 1812, 1828, 1871, 1877, 1973], 'Software Engineer': [7, 8, 18, 20, 21, 25, 31, 41, 56, 59, 60, 67, 69, 75, 76, 77, 80, 86, 88, 90, 93, 96, 102, 119, 133, 139, 141, 144, 155, 170, 179, 185, 192, 197, 199, 202, 206, 222, 223, 228, 231, 232, 235, 240, 241, 249, 256, 261, 270, 276, 281, 290, 300, 310, 316, 320, 321, 331, 339, 350, 361, 362, 371, 383, 390, 392, 398, 400, 404, 408, 409, 410, 411, 412, 419, 424, 432, 435, 444, 449, 456, 462, 466, 469, 470, 499, 504, 508, 510, 517, 519, 530, 537, 540, 552, 554, 560, 564, 567, 586, ...], 'Stock Investor': [48, 51, 82, 89, 94, 111, 131, 172, 194, 196, 248, 285, 301, 370, 381, 401, 431, 436, 442, 454, 477, 497, 501, 532, 555, 579, 593, 611, 640, 720, 731, 733, 738, 903, 909, 955, 1035, 1074, 1080, 1144, 1150, 1177, 1181, 1193, 1206, 1212, 1246, 1255, 1265, 1292, 1339, 1352, 1372, 1393, 1414, 1465, 1494, 1511, 1544, 1548, 1566, 1629, 1646, 1686, 1693, 1709, 1745, 1748, 1796, 1822, 1844, 1946, 1990], 'Teacher': [10, 11, 121, 165, 198, 210, 291, 307, 314, 334, 345, 351, 363, 421, 443, 491, 520, 624, 694, 709, 713, 789, 801, 898, 913, 926, 1107, 1113, 1133, 1154, 1173, 1215, 1229, 1234, 1249, 1301, 1334, 1351, 1354, 1383, 1406, 1427, 1445, 1468, 1470, 1475, 1505, 1513, 1581, 1683, 1749, 1883, 1886, 1899, 1901, 1932, 1933, 1960, 1983], 'Unknown': [5, 6, 9, 12, 35, 36, 49, 57, 78, 79, 85, 95, 109, 116, 118, 125, 126, 129, 130, 149, 151, 153, 156, 157, 160, 161, 168, 169, 176, 181, 183, 189, 207, 219, 230, 239, 255, 263, 266, 273, 288, 299, 315, 317, 323, 324, 325, 330, 353, 357, 366, 368, 375, 377, 378, 380, 382, 384, 406, 425, 451, 479, 480, 484, 487, 505, 512, 521, 527, 534, 539, 556, 562, 584, 591, 592, 602, 604, 605, 616, 622, 623, 629, 635, 642, 671, 677, 684, 686, 690, 695, 701, 703, 704, 718, 722, 734, 746, 770, 772, ...], 'Writer': [28, 72, 103, 327, 349, 376, 386, 393, 420, 495, 615, 634, 702, 716, 964, 1039, 1137, 1217, 1252, 1261, 1296, 1309, 1367, 1377, 1498, 1560, 1569, 1677, 1836, 1864, 1917, 1953]}

In [106]:
career_group = df.groupby(by = ['career_aspiration','gender'])
career_group

In [107]:
career_group.groups

{('Accountant', 'female'): [30, 50, 107, 173, 203, 204, 254, 257, 293, 297, 303, 365, 417, 423, 445, 485, 500, 543, 599, 608, 652, 665, 683, 687, 711, 763, 774, 803, 817, 855, 880, 961, 966, 1025, 1036, 1053, 1069, 1089, 1111, 1130, 1139, 1141, 1160, 1232, 1233, 1254, 1287, 1298, 1307, 1313, 1315, 1317, 1332, 1343, 1418, 1515, 1547, 1578, 1595, 1669, 1785, 1799, 1898, 2000], ('Accountant', 'male'): [29, 33, 40, 91, 110, 128, 177, 201, 208, 245, 246, 407, 414, 452, 498, 561, 628, 643, 667, 681, 706, 787, 853, 875, 939, 942, 956, 997, 1019, 1032, 1096, 1097, 1102, 1187, 1199, 1223, 1242, 1245, 1260, 1273, 1303, 1355, 1363, 1448, 1459, 1519, 1625, 1636, 1690, 1724, 1744, 1758, 1764, 1843, 1870, 1896, 1897, 1916, 1940, 1943, 1971, 1995], ('Artist', 'female'): [4, 97, 101, 186, 205, 251, 284, 428, 441, 459, 566, 576, 603, 632, 743, 755, 823, 838, 884, 935, 944, 975, 1023, 1156, 1165, 1168, 1256, 1293, 1344, 1347, 1386, 1473, 1523, 1526, 1610, 1643, 1708, 1726, 1845, 1890, 1938, 1958], ('Artist', 'male'): [104, 142, 216, 262, 483, 492, 559, 596, 625, 627, 633, 638, 689, 708, 753, 962, 1040, 1283, 1284, 1375, 1402, 1451, 1694, 1756, 1927], ('Banker', 'female'): [34, 54, 64, 114, 132, 138, 178, 209, 215, 217, 218, 243, 267, 269, 294, 302, 306, 347, 364, 402, 405, 416, 427, 458, 493, 523, 582, 587, 631, 650, 651, 656, 659, 660, 661, 756, 777, 797, 813, 821, 852, 894, 911, 954, 960, 1013, 1027, 1031, 1046, 1054, 1088, 1120, 1124, 1145, 1211, 1226, 1279, 1280, 1281, 1285, 1286, 1295, 1316, 1320, 1356, 1376, 1390, 1392, 1404, 1430, 1435, 1443, 1462, 1476, 1495, 1503, 1529, 1551, 1567, 1577, 1586, 1605, 1615, 1623, 1660, 1665, 1687, 1688, 1727, 1761, 1769, 1794, 1821, 1829, 1878, 1903, 1918, 1921, 1924, 1930, ...], ('Banker', 'male'): [27, 39, 58, 70, 137, 220, 244, 280, 471, 503, 525, 573, 698, 700, 707, 710, 723, 724, 758, 786, 798, 812, 912, 940, 943, 972, 990, 1047, 1052, 1062, 1068, 1094, 1108, 1109, 1110, 1131, 1155, 1175, 1194, 1251, 1289, 1314, 1326, 1388, 1431, 1434, 1438, 1504, 1532, 1558, 1576, 1593, 1616, 1682, 1717, 1743, 1835, 1842, 1848, 1861, 1863, 1873, 1922, 1975, 1985, 1993], ('Business Owner', 'female'): [13, 14, 23, 43, 66, 81, 105, 112, 117, 120, 150, 167, 175, 188, 226, 227, 258, 259, 272, 277, 289, 305, 311, 356, 369, 372, 373, 389, 397, 438, 446, 481, 486, 488, 489, 490, 502, 522, 526, 528, 541, 544, 547, 558, 563, 597, 614, 621, 637, 639, 669, 673, 679, 714, 721, 747, 757, 769, 771, 781, 809, 858, 866, 873, 892, 900, 902, 905, 907, 908, 915, 927, 929, 941, 949, 974, 981, 998, 1003, 1005, 1028, 1063, 1071, 1073, 1077, 1083, 1117, 1138, 1142, 1143, 1158, 1164, 1188, 1214, 1220, 1228, 1239, 1250, 1258, 1270, ...], ('Business Owner', 'male'): [16, 22, 24, 42, 45, 46, 53, 63, 73, 74, 113, 115, 134, 147, 152, 158, 159, 184, 213, 225, 236, 242, 265, 271, 274, 319, 335, 340, 346, 374, 385, 394, 395, 415, 418, 433, 447, 465, 475, 524, 533, 535, 551, 565, 569, 572, 575, 580, 594, 609, 617, 641, 645, 649, 662, 668, 693, 732, 740, 744, 748, 768, 788, 800, 814, 820, 828, 832, 839, 846, 847, 850, 854, 856, 868, 878, 889, 895, 925, 928, 946, 988, 992, 1001, 1015, 1021, 1030, 1038, 1067, 1092, 1104, 1127, 1163, 1171, 1195, 1203, 1222, 1243, 1275, 1330, ...], ('Construction Engineer', 'male'): [37, 38, 65, 162, 163, 180, 212, 238, 260, 333, 344, 355, 360, 403, 440, 467, 509, 515, 542, 568, 663, 674, 691, 696, 697, 699, 764, 825, 842, 971, 982, 1007, 1024, 1112, 1125, 1128, 1169, 1176, 1184, 1197, 1198, 1205, 1266, 1297, 1302, 1318, 1319, 1327, 1373, 1396, 1400, 1437, 1452, 1474, 1509, 1543, 1572, 1621, 1661, 1701, 1718, 1780, 1801, 1817, 1867, 1919, 1925, 1996], ('Designer', 'female'): [32, 71, 136, 252, 279, 295, 332, 422, 460, 725, 736, 752, 759, 824, 831, 901, 1134, 1238, 1241, 1420, 1433, 1440, 1460, 1562, 1600, 1700, 1725, 1795, 1834, 1894, 1976, 1988], ('Designer', 'male'): [135, 224, 234, 348, 367, 448, 455, 548, 680, 830, 937, 1016, 1157, 1192, 1236, 1374, 1380, 1499, 1552, 1596, 1601, 1710, 1784, 1849], ('Doctor', 'female'): [2, 15, 26, 124, 214, 268, 308, 387, 464, 513, 516, 529, 545, 578, 589, 600, 655, 688, 712, 790, 879, 951, 1050, 1061, 1114, 1121, 1172, 1180, 1200, 1213, 1225, 1247, 1346, 1409, 1411, 1457, 1482, 1574, 1583, 1631, 1652, 1702, 1716, 1742, 1783, 1792, 1798, 1808, 1827, 1851, 1852, 1909, 1957], ('Doctor', 'male'): [19, 122, 123, 140, 164, 211, 286, 322, 391, 413, 426, 439, 453, 468, 474, 494, 549, 588, 590, 619, 620, 657, 735, 761, 785, 791, 826, 922, 968, 994, 1043, 1123, 1147, 1190, 1237, 1262, 1271, 1362, 1365, 1397, 1423, 1467, 1493, 1531, 1585, 1617, 1620, 1624, 1639, 1668, 1673, 1681, 1713, 1720, 1804, 1810, 1814, 1820, 1824, 1874, 1911, 1941, 1963, 1964, 1987, 1994], ('Game Developer', 'female'): [44, 61, 100, 145, 166, 191, 193, 292, 318, 352, 507, 550, 571, 636, 739, 775, 851, 989, 995, 1098, 1274, 1277, 1305, 1521, 1561, 1598, 1611, 1774, 1891, 1952, 1955], ('Game Developer', 'male'): [55, 127, 253, 298, 342, 354, 536, 834, 959, 963, 1012, 1022, 1132, 1146, 1167, 1170, 1196, 1290, 1310, 1324, 1398, 1425, 1539, 1584, 1612, 1658, 1711, 1786, 1802, 1904, 1959, 1961], ('Government Officer', 'female'): [3, 83, 87, 233, 296, 304, 328, 341, 359, 399, 506, 715, 760, 833, 840, 1037, 1161, 1174, 1204, 1276, 1461, 1538, 1674, 1679, 1760, 1775, 1831, 1847, 1862, 1935, 1937], ('Government Officer', 'male'): [92, 247, 336, 337, 553, 570, 574, 577, 796, 799, 819, 877, 896, 1033, 1048, 1218, 1267, 1291, 1321, 1453, 1559, 1655, 1684, 1753, 1819, 1838, 1855, 1856, 1965, 1986], ('Lawyer', 'female'): [47, 52, 62, 143, 171, 200, 264, 287, 326, 358, 396, 429, 450, 463, 476, 511, 595, 606, 607, 644, 664, 672, 729, 730, 778, 807, 867, 916, 952, 1042, 1049, 1056, 1057, 1103, 1135, 1201, 1231, 1269, 1308, 1325, 1337, 1366, 1401, 1463, 1512, 1537, 1592, 1606, 1613, 1626, 1649, 1671, 1699, 1751, 1757, 1766, 1770, 1787, 1846, 1882, 1884, 1928, 1951, 1980, 1981, 1992], ('Lawyer', 'male'): [1, 99, 148, 174, 182, 237, 250, 275, 278, 283, 329, 338, 343, 379, 496, 514, 538, 546, 557, 585, 601, 610, 626, 653, 666, 678, 685, 728, 795, 829, 841, 865, 885, 920, 950, 1011, 1044, 1084, 1085, 1090, 1093, 1159, 1221, 1224, 1300, 1340, 1405, 1428, 1441, 1454, 1456, 1490, 1496, 1591, 1628, 1648, 1664, 1675, 1714, 1732, 1737, 1738, 1739, 1773, 1778, 1825, 1826, 1830, 1833, 1850, 1860, 1920], ('Real Estate Developer', 'female'): [106, 187, 309, 461, 472, 473, 478, 482, 518, 630, 726, 792, 859, 881, 882, 924, 947, 948, 1002, 1009, 1122, 1140, 1189, 1191, 1202, 1209, 1210, 1353, 1407, 1436, 1444, 1446, 1472, 1501, 1510, 1603, 1627, 1689, 1762, 1807, 1832, 1858, 1869, 1902, 1906], ('Real Estate Developer', 'male'): [68, 98, 146, 154, 221, 229, 434, 437, 457, 583, 598, 612, 670, 784, 815, 848, 863, 897, 899, 906, 983, 1000, 1076, 1115, 1166, 1183, 1227, 1282, 1294, 1565, 1619, 1654, 1672, 1696, 1754, 1876, 1954, 1970], ('Scientist', 'female'): [17, 190, 195, 313, 531, 581, 742, 767, 810, 978, 1006, 1041, 1101, 1382, 1755, 1812, 1871, 1877, 1973], ('Scientist', 'male'): [84, 108, 282, 312, 388, 430, 862, 917, 984, 1064, 1075, 1091, 1106, 1524, 1588, 1589, 1721, 1734, 1772, 1828], ('Software Engineer', 'female'): [20, 25, 31, 41, 56, 75, 76, 77, 88, 96, 102, 133, 139, 155, 179, 185, 199, 222, 228, 232, 235, 249, 256, 261, 270, 281, 290, 310, 320, 331, 361, 383, 390, 410, 411, 412, 449, 469, 504, 517, 530, 537, 540, 554, 564, 613, 648, 654, 676, 705, 719, 727, 737, 749, 765, 802, 804, 805, 806, 818, 843, 845, 849, 864, 869, 883, 890, 910, 914, 919, 923, 933, 936, 945, 953, 973, 977, 985, 987, 1058, 1059, 1060, 1087, 1095, 1105, 1148, 1153, 1185, 1207, 1235, 1257, 1259, 1272, 1311, 1336, 1342, 1348, 1381, 1384, 1389, ...], ('Software Engineer', 'male'): [7, 8, 18, 21, 59, 60, 67, 69, 80, 86, 90, 93, 119, 141, 144, 170, 192, 197, 202, 206, 223, 231, 240, 241, 276, 300, 316, 321, 339, 350, 362, 371, 392, 398, 400, 404, 408, 409, 419, 424, 432, 435, 444, 456, 462, 466, 470, 499, 508, 510, 519, 552, 560, 567, 586, 618, 646, 647, 658, 675, 682, 692, 717, 741, 745, 750, 751, 754, 762, 766, 773, 779, 783, 816, 822, 857, 861, 871, 874, 876, 886, 891, 893, 921, 930, 932, 934, 938, 970, 976, 979, 993, 996, 999, 1004, 1017, 1020, 1026, 1045, 1079, ...], ('Stock Investor', 'female'): [82, 131, 172, 196, 285, 381, 431, 436, 497, 555, 579, 611, 640, 738, 1144, 1181, 1193, 1206, 1212, 1265, 1292, 1494, 1511, 1629, 1745], ('Stock Investor', 'male'): [48, 51, 89, 94, 111, 194, 248, 301, 370, 401, 442, 454, 477, 501, 532, 593, 720, 731, 733, 903, 909, 955, 1035, 1074, 1080, 1150, 1177, 1246, 1255, 1339, 1352, 1372, 1393, 1414, 1465, 1544, 1548, 1566, 1646, 1686, 1693, 1709, 1748, 1796, 1822, 1844, 1946, 1990], ('Teacher', 'female'): [10, 11, 121, 165, 198, 210, 291, 307, 314, 334, 345, 351, 363, 421, 443, 491, 520, 624, 694, 709, 713, 789, 801, 898, 913, 926, 1107, 1113, 1133, 1154, 1173, 1215, 1229, 1234, 1249, 1301, 1334, 1351, 1354, 1383, 1406, 1427, 1445, 1468, 1470, 1475, 1505, 1513, 1581, 1683, 1749, 1883, 1886, 1899, 1901, 1932, 1933, 1960, 1983], ('Unknown', 'female'): [6, 35, 36, 49, 57, 78, 79, 95, 109, 118, 125, 126, 129, 149, 151, 153, 157, 168, 183, 219, 299, 317, 323, 368, 375, 378, 406, 451, 484, 487, 505, 512, 521, 534, 584, 591, 602, 604, 605, 642, 671, 686, 703, 718, 772, 776, 782, 793, 794, 844, 860, 872, 887, 957, 965, 967, 969, 980, 991, 1010, 1018, 1029, 1051, 1055, 1072, 1082, 1116, 1119, 1129, 1162, 1186, 1216, 1219, 1240, 1264, 1349, 1358, 1359, 1422, 1439, 1449, 1469, 1506, 1508, 1516, 1540, 1542, 1550, 1573, 1590, 1618, 1635, 1638, 1685, 1706, 1715, 1741, 1747, 1750, 1790, ...], ('Unknown', 'male'): [5, 9, 12, 85, 116, 130, 156, 160, 161, 169, 176, 181, 189, 207, 230, 239, 255, 263, 266, 273, 288, 315, 324, 325, 330, 353, 357, 366, 377, 380, 382, 384, 425, 479, 480, 527, 539, 556, 562, 592, 616, 622, 623, 629, 635, 677, 684, 690, 695, 701, 704, 722, 734, 746, 770, 780, 808, 811, 827, 835, 836, 837, 870, 888, 904, 918, 931, 958, 986, 1008, 1014, 1034, 1065, 1066, 1070, 1078, 1099, 1126, 1149, 1151, 1152, 1178, 1179, 1182, 1208, 1230, 1312, 1328, 1333, 1345, 1368, 1379, 1408, 1412, 1458, 1479, 1525, 1534, 1580, 1614, ...], ('Writer', 'female'): [72, 376, 393, 420, 615, 634, 702, 716, 964, 1039, 1137, 1217, 1252, 1296, 1309, 1836, 1917, 1953], ('Writer', 'male'): [28, 103, 327, 349, 386, 495, 1261, 1367, 1377, 1498, 1560, 1569, 1677, 1864]}

In [111]:
for group, data_frame in career_group :
    print(group)
    print(data_frame)

('Accountant', 'female')
     first_name last_name                                   email  gender  \
id
30        Carol      Hill         carol.hill.30@gslingacademy.com  female
50        Sonia     Noble        sonia.noble.50@gslingacademy.com  female
107        Erin    Kelley       erin.kelley.107@gslingacademy.com  female
173      Rhonda   Webster    rhonda.webster.173@gslingacademy.com  female
203    Jennifer   Burgess  jennifer.burgess.203@gslingacademy.com  female
...         ...       ...                                     ...     ...
1669       Emma    Morris      emma.morris.1669@gslingacademy.com  female
1785    Kristen    Werner   kristen.werner.1785@gslingacademy.com  female
1799       Sara   Johnson     sara.johnson.1799@gslingacademy.com  female
1898     Nicole     Smith     nicole.smith.1898@gslingacademy.com  female
2000    Natalie     Smith    natalie.smith.2000@gslingacademy.com  female

      part_time_job  absence_days  extracurricular_activities  \
id
30            False             3                       False
50            False             0                       False
107           False             3                       False
173           False             5                        True
203           False             3                       False
...             ...           ...                         ...
1669          False             8                       False
1785          False             3                       False
1799          False             2                       False
1898           True             1                       False
2000          False             5                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
id
30                         19        Accountant          82            100
50                         14        Accountant         100             89
107                        16        Accountant          91             80
173                        31        Accountant          82             66
203                        16        Accountant          85             62
...                       ...               ...         ...            ...
1669                       21        Accountant          76             84
1785                       23        Accountant          92             75
1799                       20        Accountant          99             70
1898                       14        Accountant         100             68
2000                       27        Accountant          82             99

      physics_score  chemistry_score  biology_score  english_score  \
id
30             61.0             97.0           30.0             74
50             90.0             93.0           30.0             83
107            97.0             89.0           94.0             95
173            89.0             76.0           68.0             83
203            84.0             80.0           37.0             80
...             ...              ...            ...            ...
1669           95.0             66.0           84.0             74
1785          100.0             78.0           32.0             84
1799           97.0             93.0           87.0             90
1898           85.0             85.0           62.0             63
2000           91.0             69.0           83.0             93

      geography_score
id
30               73.0
50               74.0
107              84.0
173              79.0
203              71.0
...               ...
1669             64.0
1785             69.0
1799             88.0
1898             92.0
2000            100.0

[64 rows x 16 columns]
('Accountant', 'male')
       first_name  last_name                                    email gender  \
id
29        Jeffrey  Blanchard   jeffrey.blanchard.29@gslingacademy.com   male
33        Timothy     Bryant      timothy.bryant.33@gslingacademy.com   male
40    Christopher     Taylor  christopher.taylor.40@gslingacademy.com   male
91        Patrick     Parker      patrick.parker.91@gslingacademy.com   male
110       Phillip      Allen      phillip.allen.110@gslingacademy.com   male
...           ...        ...                                      ...    ...
1916      Jeffrey     Miller    jeffrey.miller.1916@gslingacademy.com   male
1940      Michael     Wilson    michael.wilson.1940@gslingacademy.com   male
1943       Andrew      Olson      andrew.olson.1943@gslingacademy.com   male
1971        James     Bryant      james.bryant.1971@gslingacademy.com   male
1995       Steven      Lewis      steven.lewis.1995@gslingacademy.com   male

      part_time_job  absence_days  extracurricular_activities  \
id
29            False             1                        True
33            False             4                       False
40            False             4                       False
91            False             0                       False
110           False             5                        True
...             ...           ...                         ...
1916          False             2                       False
1940          False             3                       False
1943          False             2                       False
1971          False             1                       False
1995          False             1                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
id
29                         17        Accountant          79             65
33                         30        Accountant          77             96
40                         18        Accountant          92             60
91                         14        Accountant          95             78
110                        13        Accountant          78             69
...                       ...               ...         ...            ...
1916                       21        Accountant          91            100
1940                       26        Accountant          92             86
1943                       28        Accountant          98             88
1971                       27        Accountant          99             87
1995                       19        Accountant          76             62

      physics_score  chemistry_score  biology_score  english_score  \
id
29             99.0             71.0           76.0             77
33             98.0             89.0           85.0             62
40             66.0             87.0           60.0             83
91             95.0             73.0           32.0             65
110            82.0             60.0           64.0             77
...             ...              ...            ...            ...
1916           98.0             96.0           66.0             87
1940           61.0             78.0           56.0             68
1943           81.0             65.0           59.0             84
1971           67.0             91.0           36.0             76
1995           90.0             82.0           93.0             71

      geography_score
id
29               83.0
33               62.0
40               95.0
91               68.0
110              82.0
...               ...
1916             65.0
1940             85.0
1943             87.0
1971             64.0
1995             61.0

[62 rows x 16 columns]
('Artist', 'female')
     first_name   last_name                                      email  \
id
4          Tara       Clark             tara.clark.4@gslingacademy.com
97      Natasha      Hansen        natasha.hansen.97@gslingacademy.com
101      Rhonda       Jones         rhonda.jones.101@gslingacademy.com
186       Jenny       Lloyd          jenny.lloyd.186@gslingacademy.com
205       April        Ryan           april.ryan.205@gslingacademy.com
251       Holly   Henderson      holly.henderson.251@gslingacademy.com
284       Nancy      Pierce         nancy.pierce.284@gslingacademy.com
428        Jill      Sexton          jill.sexton.428@gslingacademy.com
441       Megan       Moyer          megan.moyer.441@gslingacademy.com
459     Crystal      Nguyen       crystal.nguyen.459@gslingacademy.com
566      Sherry       Brown         sherry.brown.566@gslingacademy.com
576        Rita     Cochran         rita.cochran.576@gslingacademy.com
603       Susan       Lynch          susan.lynch.603@gslingacademy.com
632   Elizabeth       Smith      elizabeth.smith.632@gslingacademy.com
743       Angie       White          angie.white.743@gslingacademy.com
755        Lisa       Cowan           lisa.cowan.755@gslingacademy.com
823     Heather     Bentley      heather.bentley.823@gslingacademy.com
838        Mary        Bird            mary.bird.838@gslingacademy.com
884      Alison     Webster       alison.webster.884@gslingacademy.com
935     Tiffany      Fields       tiffany.fields.935@gslingacademy.com
944   Alexandra       Brown      alexandra.brown.944@gslingacademy.com
975     Melissa    Gonzales     melissa.gonzales.975@gslingacademy.com
1023      Sarah    Mckinney      sarah.mckinney.1023@gslingacademy.com
1156  Cassandra      Flores    cassandra.flores.1156@gslingacademy.com
1165    Rebecca       Roman       rebecca.roman.1165@gslingacademy.com
1168    Crystal      Miller      crystal.miller.1168@gslingacademy.com
1256    Katrina  Montgomery  katrina.montgomery.1256@gslingacademy.com
1293      Susan       Perez         susan.perez.1293@gslingacademy.com
1344       Gina     Kennedy        gina.kennedy.1344@gslingacademy.com
1347     Connie       Colon        connie.colon.1347@gslingacademy.com
1386   Patricia        Pope       patricia.pope.1386@gslingacademy.com
1473  Christine       Smith     christine.smith.1473@gslingacademy.com
1523     Amanda     Padilla      amanda.padilla.1523@gslingacademy.com
1526  Stephanie     Spencer   stephanie.spencer.1526@gslingacademy.com
1610     Rhonda       Munoz        rhonda.munoz.1610@gslingacademy.com
1643      Erica       Lopez         erica.lopez.1643@gslingacademy.com
1708    Rebecca     Pearson     rebecca.pearson.1708@gslingacademy.com
1726      Laura       Allen         laura.allen.1726@gslingacademy.com
1845    Caitlin      Duncan      caitlin.duncan.1845@gslingacademy.com
1890     Rachel      Reeves       rachel.reeves.1890@gslingacademy.com
1938      Carol       Ramos         carol.ramos.1938@gslingacademy.com
1958      Cindy     Bradley       cindy.bradley.1958@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
id
4     female          False             5                       False
97    female          False             3                        True
101   female          False             2                       False
186   female          False             3                       False
205   female          False             1                       False
251   female          False             3                       False
284   female           True             4                        True
428   female          False             1                        True
441   female           True             2                       False
459   female          False             1                       False
566   female          False            10                        True
576   female          False             1                       False
603   female          False             0                       False
632   female          False             2                        True
743   female          False             6                       False
755   female          False             1                       False
823   female          False             1                        True
838   female          False             3                       False
884   female           True             1                        True
935   female          False             1                       False
944   female          False             3                       False
975   female           True             2                       False
1023  female          False             3                        True
1156  female           True             3                        True
1165  female          False             1                       False
1168  female          False             4                       False
1256  female          False             5                       False
1293  female          False             5                       False
1344  female          False             1                       False
1347  female          False             5                       False
1386  female          False             3                        True
1473  female          False             4                        True
1523  female          False             2                       False
1526  female          False             1                       False
1610  female          False             0                       False
1643  female          False             5                       False
1708  female          False             3                        True
1726  female          False             1                       False
1845  female          False             1                       False
1890  female          False             3                       False
1938  female          False             6                       False
1958  female          False             2                       False

      weekly_self_study_hours career_aspiration  math_score  history_score  \
id
4                           3            Artist          71             74
97                          2            Artist          86             76
101                         4            Artist          87             73
186                         2            Artist          69             78
205                         1            Artist          98             95
251                         3            Artist          93            100
284                         4            Artist          82             85
428                         0            Artist          71             84
441                         1            Artist          82             95
459                         1            Artist          95             73
566                         3            Artist          87             82
576                         5            Artist          72             91
603                         5            Artist          87             91
632                         4            Artist          83             89
743                         0            Artist          62             79
755                         1            Artist          70             63
823                         2            Artist          73             71
838                         0            Artist          92             65
884                         1            Artist          63             75
935                         5            Artist          68             67
944                         2            Artist          76             73
975                         0            Artist         100             95
1023                        5            Artist          87             96
1156                        0            Artist          72             62
1165                        2            Artist          62            100
1168                        4            Artist          98             80
1256                        3            Artist          65             67
1293                        5            Artist          83             94
1344                        3            Artist          65             67
1347                        1            Artist          88             62
1386                        5            Artist          60             69
1473                        4            Artist          79            100
1523                        2            Artist          91             87
1526                        5            Artist          63             86
1610                        5            Artist          73            100
1643                        4            Artist          80             61
1708                        1            Artist          90             96
1726                        3            Artist          99             85
1845                        2            Artist          87             78
1890                        2            Artist          64             69
1938                        1            Artist          96             66
1958                        3            Artist          62             67

      physics_score  chemistry_score  biology_score  english_score  \
id
4              88.0             80.0           89.0             63
97             84.0             93.0           76.0             69
101            98.0             91.0           79.0             60
186            69.0             70.0          100.0             88
205            90.0             81.0           82.0             86
251            87.0             66.0           85.0             96
284            75.0             92.0           76.0             95
428            66.0             75.0           93.0             84
441            68.0             64.0           97.0             99
459            79.0             81.0           82.0             69
566            88.0            100.0           73.0             96
576            78.0             97.0           86.0             93
603            93.0             92.0           97.0             95
632            99.0            100.0           73.0             86
743            75.0             65.0           71.0             75
755            73.0             97.0           63.0             61
823            60.0             70.0           78.0             72
838            95.0             60.0           93.0             69
884            68.0             63.0           63.0             73
935            65.0             68.0           63.0             97
944            74.0             73.0           81.0             87
975            60.0             89.0           77.0             89
1023           67.0             64.0           67.0             81
1156           96.0             95.0           97.0             71
1165           91.0             75.0           99.0             76
1168           66.0             94.0           86.0             72
1256           91.0             81.0           97.0             99
1293           77.0             97.0           78.0             60
1344           90.0             99.0           93.0             91
1347           65.0             98.0           92.0             64
1386           80.0             87.0          100.0             93
1473           75.0             85.0          100.0             81
1523           84.0             91.0           96.0             88
1526           72.0             72.0           90.0             75
1610           78.0             77.0           71.0             61
1643           89.0             98.0           73.0             90
1708           89.0             88.0           94.0             73
1726           60.0             81.0           75.0             78
1845           74.0             75.0           95.0             69
1890           79.0             89.0           72.0             64
1938           76.0             71.0           94.0             72
1958           85.0             97.0           98.0             62

      geography_score
id
4                86.0
97               91.0
101              77.0
186              85.0
205              98.0
251              87.0
284              85.0
428              69.0
441              60.0
459             100.0
566              75.0
576              77.0
603              99.0
632              88.0
743              93.0
755              90.0

# Merge

In [178]:
df = pd.DataFrame({'Absen' : [1,2,3,4,5], 'Nilai Praktek' : [97,85,92,78,87]})
df

   Absen  Nilai Praktek
0      1             97
1      2             85
2      3             92
3      4             78
4      5             87

In [179]:
df2 = pd.DataFrame({'Absen' : [1,2,3,4,5], 'Nilai PAS' : [77,76,95,97,73]})
df2

   Absen  Nilai PAS
0      1         77
1      2         76
2      3         95
3      4         97
4      5         73

In [180]:
ndf = pd.merge(df,df2, on='Absen') # Menggabungkan 2 tabel berdasarkan Absen
ndf

   Absen  Nilai Praktek  Nilai PAS
0      1             97         77
1      2             85         76
2      3             92         95
3      4             78         97
4      5             87         73

In [181]:
df3 = pd.DataFrame({'Absen' : [1,2,3,4,5], 'Nilai Akhir' : [0,0,0,0,0]})
ndf = pd.merge(ndf,df3, on='Absen')
ndf

   Absen  Nilai Praktek  Nilai PAS  Nilai Akhir
0      1             97         77            0
1      2             85         76            0
2      3             92         95            0
3      4             78         97            0
4      5             87         73            0

In [196]:
ndf['Nilai Akhir'].replace(to_replace=0, value= 90,inplace=True)

In [197]:
ndf

   Absen  Nilai Praktek  Nilai PAS  Nilai Akhir
0      1             97         77           90
1      2             85         76           90
2      3             92         95           90
3      4             78         97           90
4      5             87         73           90

In [199]:
dt1 = pd.DataFrame({'Absen' : [1,2,3,4,5], 'Nilai Bjawa' :[90,80,65,77,89]})
dt2 = pd.DataFrame({'Absen' : [4,5,6,7,8], 'Nilai Bjerman' : [98,88,89,92,93]})
pd.merge(dt1,dt2) # perhatikan hasil dibawah hanya menyertakan nilai yang sama saja

   Absen  Nilai Bjawa  Nilai Bjerman
0      4           77             98
1      5           89             88

In [204]:
pd.merge(dt1,dt2, how='left') #MEMERGEKAN 2 TBL TANPA TERKECUALI DAN MENGASIGN DATA DENGAN VALUE YANG ADA BILA TIDAK ADA NULLL
# LEFT -> NILAI YANG DIPAKSA MASUK BJAWA

   Absen  Nilai Bjawa  Nilai Bjerman
0      1           90            NaN
1      2           80            NaN
2      3           65            NaN
3      4           77           98.0
4      5           89           88.0

In [205]:
pd.merge(dt1,dt2, how='right')
#rRIGHT -> NILAI YANG DIBWA MASUK BJERMAN

   Absen  Nilai Bjawa  Nilai Bjerman
0      4         77.0             98
1      5         89.0             88
2      6          NaN             89
3      7          NaN             92
4      8          NaN             93

In [207]:
pd.merge(dt1,dt2, how='outer') # Menggabungkan semua nilai tanpa terkecuali

   Absen  Nilai Bjawa  Nilai Bjerman
0      1         90.0            NaN
1      2         80.0            NaN
2      3         65.0            NaN
3      4         77.0           98.0
4      5         89.0           88.0
5      6          NaN           89.0
6      7          NaN           92.0
7      8          NaN           93.0

# APPEND

In [215]:
df1 = pd.DataFrame({'Absen' :[1,2,3,4,5], 'UH' :[87,89,86,92,86], 'PAT' : [80,85,96,90,91]})
df2 = pd.DataFrame({'Absen' : [6,7,8,9,10], 'UH' :[85,84,83,91,88], 'PAT' : [90,87,93,91,90]})

print(df1)
print(df2)

   Absen  UH  PAT
0      1  87   80
1      2  89   85
2      3  86   96
3      4  92   90
4      5  86   91
   Absen  UH  PAT
0      6  85   90
1      7  84   87
2      8  83   93
3      9  91   91
4     10  88   90

In [217]:
df1._append(df2) # Namun indeks tidak akan bertambah

   Absen  UH  PAT
0      1  87   80
1      2  89   85
2      3  86   96
3      4  92   90
4      5  86   91
0      6  85   90
1      7  84   87
2      8  83   93
3      9  91   91
4     10  88   90

In [219]:
# kecuali jika kita menuliskan ignore
df1._append(df2, ignore_index = True) # Indeks otomatis bertambah

   Absen  UH  PAT
0      1  87   80
1      2  89   85
2      3  86   96
3      4  92   90
4      5  86   91
5      6  85   90
6      7  84   87
7      8  83   93
8      9  91   91
9     10  88   90

In [220]:
df1._append(df2, ignore_index = True, sort = True)

   Absen  PAT  UH
0      1   80  87
1      2   85  89
2      3   96  86
3      4   90  92
4      5   91  86
5      6   90  85
6      7   87  84
7      8   93  83
8      9   91  91
9     10   90  88

In [222]:
df1 = pd.DataFrame({'Absen' :[1,2,3,4,5], 'UH' :[87,89,86,92,86], 'PAT' : [80,85,96,90,91]})
df2 = pd.DataFrame({'Absen' : [6,7,8,9,10], 'UH' :[85,84,83,91,88]})
df1._append(df2, ignore_index = True) # Perhatikan hasil patnya

   Absen  UH   PAT
0      1  87  80.0
1      2  89  85.0
2      3  86  96.0
3      4  92  90.0
4      5  86  91.0
5      6  85   NaN
6      7  84   NaN
7      8  83   NaN
8      9  91   NaN
9     10  88   NaN

# Pivot Table

In [235]:
df = pd.read_csv(r'C:\TestDirectory\Library\student-scores.csv')
df.head(10)

,id,first_name,last_name,email,gender,part_time_job,absence_days,extracurricular_activities,weekly_self_study_hours,career_aspiration,math_score,history_score,physics_score,chemistry_score,biology_score,english_score,geography_score
0,1,Paul,Casey,paul.casey.1@gslingacademy.com,male,False,3,False,27,Lawyer,73,81,93.0,97.0,63.0,80,NaN
1,2,Danielle,Sandoval,danielle.sandoval.2@gslingacademy.com,female,False,2,False,47,Doctor,90,86,NaN,100.0,90.0,88,90.0
2,3,Tina,Andrews,tina.andrews.3@gslingacademy.com,female,False,9,True,13,Government Officer,81,97,95.0,96.0,65.0,77,94.0
3,4,Tara,Clark,tara.clark.4@gslingacademy.com,female,False,5,False,3,Artist,71,74,88.0,80.0,89.0,63,86.0
4,5,Anthony,Campos,anthony.campos.5@gslingacademy.com,male,False,5,False,10,Unknown,84,77,65.0,65.0,80.0,74,76.0
5,6,Kelly,Wade,kelly.wade.6@gslingacademy.com,female,False,2,False,26,Unknown,93,100,67.0,78.0,NaN,80,84.0
6,7,Anthony,Smith,anthony.smith.7@gslingacademy.com,male,False,3,True,23,Software Engineer,99,96,97.0,NaN,88.0,76,64.0
7,8,George,Short,george.short.8@gslingacademy.com,male,True,2,True,34,Software Engineer,95,95,82.0,63.0,84.0,70,85.0
8,9,Stanley,Gutierrez,stanley.gutierrez.9@gslingacademy.com,male,False,6,False,25,Unknown,94,68,94.0,85.0,81.0,74,72.0
9,10,Audrey,Simpson,audrey.simpson.10@gslingacademy.com,female,False,3,True,18,Teacher,98,69,88.0,71.0,67.0,71,73.0

In [247]:
pd.pivot_table(df, index = 'gender', aggfunc= 'sum')

,absence_days,biology_score,career_aspiration,chemistry_score,email,english_score,extracurricular_activities,first_name,geography_score,history_score,id,last_name,math_score,part_time_job,physics_score,weekly_self_study_hours
gender,,,,,,,,,,,,,,,,
female,3750,79383.0,DoctorGovernment OfficerArtistUnknownTeacherTe...,80543.0,danielle.sandoval.2@gslingacademy.comtina.andr...,81904,207,DanielleTinaTaraKellyAudreyGabriellePatriciaPa...,81115.0,80656,1005854,SandovalAndrewsClarkWadeSimpsonWhiteGomezJacks...,82958,167,80824.0,16856
male,3581,79788.0,LawyerUnknownSoftware EngineerSoftware Enginee...,79454.0,paul.casey.1@gslingacademy.comanthony.campos.5...,80651,201,PaulAnthonyAnthonyGeorgeStanleyClintonRogerMax...,80654.0,80008,995146,CaseyCamposSmithShortGutierrezRandolphWileyDav...,83946,149,81833.0,18655

In [248]:
pd.pivot_table(df, index = 'gender', aggfunc= 'count')

,absence_days,biology_score,career_aspiration,chemistry_score,email,english_score,extracurricular_activities,first_name,geography_score,history_score,id,last_name,math_score,part_time_job,physics_score,weekly_self_study_hours
gender,,,,,,,,,,,,,,,,
female,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002,1002
male,998,998,998,998,998,998,998,998,998,998,998,998,998,998,998,998

In [249]:
pd.pivot_table(df, index = 'gender', aggfunc= 'max')

,absence_days,biology_score,career_aspiration,chemistry_score,email,english_score,extracurricular_activities,first_name,geography_score,history_score,id,last_name,math_score,part_time_job,physics_score,weekly_self_study_hours
gender,,,,,,,,,,,,,,,,
female,10,100.0,Writer,100.0,yvette.bridges.88@gslingacademy.com,99,True,Yvette,100.0,100,2000,Zuniga,100,True,100.0,49
male,10,100.0,Writer,100.0,zachary.lucero.1464@gslingacademy.com,99,True,Zachary,100.0,100,1997,Young,100,True,100.0,50

In [251]:
pd.pivot_table(df, index = 'gender', columns= 'Section')

KeyError: 'Section'

In [244]:
pd.pivot_table(df1, index = 'PAT')

     Absen    UH
PAT
80     1.0  87.0
85     2.0  89.0
90     4.0  92.0
91     5.0  86.0
96     3.0  86.0