In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv(r'C:\TestDirectory\BigMartPrediction\BigMartPrediction\mart_data.csv')

In [45]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [46]:
df_categorical = df.select_dtypes(include='object')
df_categorical.head()

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,Fruits and Vegetables,OUT010,NaN,Tier 3,Grocery Store
4,NCD19,Low Fat,Household,OUT013,High,Tier 3,Supermarket Type1

In [47]:
df[df.isnull().any(axis=1)].head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.2,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.2,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.2,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680

In [48]:
df.isnull().sum().sum()

3873

In [49]:
df.shape

(8523, 12)

In [50]:
correlation = pd.DataFrame(df.corr(numeric_only=True)['Item_Outlet_Sales'])
correlation.columns= ['Scores']
df_correlation = correlation.nlargest(3, 'Scores')

In [51]:
df_correlation

                     Scores
Item_Outlet_Sales  1.000000
Item_MRP           0.567574
Item_Weight        0.014123

In [52]:
from sklearn.feature_selection import SelectKBest, chi2
df.dropna(axis=0, inplace=True)

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4650 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            4650 non-null   object
 1   Item_Weight                4650 non-null   float64
 2   Item_Fat_Content           4650 non-null   object
 3   Item_Visibility            4650 non-null   float64
 4   Item_Type                  4650 non-null   object
 5   Item_MRP                   4650 non-null   float64
 6   Outlet_Identifier          4650 non-null   object
 7   Outlet_Establishment_Year  4650 non-null   int64
 8   Outlet_Size                4650 non-null   object
 9   Outlet_Location_Type       4650 non-null   object
 10  Outlet_Type                4650 non-null   object
 11  Item_Outlet_Sales          4650 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 472.3+ KB

In [54]:
target = ['Item_Outlet_Sales']
num_columns = df.select_dtypes(include = 'float64')

obj = num_columns.columns.tolist()
nums = list(set(target+ obj))
print(target)

x = df[nums].drop(columns =target,axis =1)
y = df[target]

['Item_Outlet_Sales']

In [57]:


fit = df.corr(numeric_only=True)[target]
featuresscores = pd.DataFrame({'features': fit.index, 'corr_scores': fit.values.flatten()})
df_features = featuresscores.nlargest(3, 'corr_scores')

In [58]:
df_features

            features  corr_scores
4  Item_Outlet_Sales     1.000000
2           Item_MRP     0.679594
0        Item_Weight     0.010972

In [66]:
fit.values

array([[ 0.01097183],
       [-0.00964444],
       [ 0.67959382],
       [-0.04086871],
       [ 1.        ]])